.card{
transition : ease 0.4s;
border : none!important;
outline : none!important;
}
.card:hover{
border : 2px solid green!important;
box-shadow : 0px 2px 11px 0px grey!important;
}

.image-div{
 border : 1px solid green;
 border-radius : 10px;
}

.details-div{

}
#popcart{
background-color : transparent!important;
}