{% extends 'shop/basics.html' %}
{% load static %}
{% block title %}Index Page{% endblock %}
{% block style %}

{% endblock %}


   {% block body %}
<div class="container" style="position: relative; padding-top: 75px;">
  <!--slideshow starts here-->
  {% for category in categories %}
  <h1>{{ category.name }}</h1>
  <div class="owl-carousel owl-theme">
    {% for product in category.products.all %}
    <div class="item">
      <div class="card align-items-center">
        <img src='{{ product.image.url }}' class="card-img-top" alt="Product Image" height=200 width=160>
        <hr>
        <div class="card-body mt-1">
          <h5 class="card-title">{{product.product_name}}</h5>
          <p class="card-text">{{product.desc}}</p>
          <p class="card-text">₹{{product.price}}/-</p>  
          <span id="divpr{{ product.id }}">
          {% include 'shop/cart-exists.html' %}
          </span>
          <a href="/shop/product/{{ product.id }}"><button id="vi{{ product.id  }}" class="btn btn-outline-success">View Item</button></a>
        </div>
      </div>
    </div>
    {% endfor %}
</div>

  {% endfor %}
</div>
  {% endblock %}

{% block script %}
<script>
  $(document).ready(function(){
    //owl-carousel
    $('.owl-carousel').owlCarousel({
      loop:true,
      margin:10,
      nav:true,
      responsive:{
          0:{
              items:1
          },
          600:{
              items:4
          },
          1000:{
              items:4
          }
      }
  })
  });
</script>
{% endblock %}


