{% extends 'shop/basics.html' %}
{% load static %}
{% block title %}Index Page{% endblock %}
{% block style %}
  <style>
      .item_card{
          border : 1px solid rgb(199, 199, 199);
      }
      .check_item h4{
        background-color: rgb(226, 226, 226);
        height: 30px;
      }
      .check_item img{
          height : 200px;
      }
      .bill{
          width: 100%;
          border : 1px solid grey;
      }
      .bill_body, .bill_caption, .total{
          border: 1px solid grey;
      }
      table{
          width: 100%;
      }
      .item_details{
          margin-top: 65px;
      }
  </style>
{% endblock %}


   {% block body %}
   <div class="container" style="padding-top: 84px;">
       <div class="row">
           <div class="col-md-6">
              <div class="check_item ">
              {% for item in cart %}
                <div class="item_card">
                    
                    <div class="item_caption text-center">
                      <h4>{{ item.product }} </h4>
                    </div>
                    
                    
                    <div class="row my-2"> 
                         <div class="col-md-4 col-5 item_img mx-2">
                            <img src="{{ item.product.image.url }}">
                         </div> 
                         <div class="col-md-6 col-5 item_info text-center">
                           <div class="item_details text-center">  
                             <h5> Quantity : <span style="color: red;">{{ item.counter }}</span></h5>
                             <h5>Price : <span style="color: green;">₹{{ item.product.price }}/-</span></h5>
                           </div> 
                         </div>
                    </div>                                                                         
                </div>
                <br>
                {% endfor %}
              </div>
           </div>
           
           <div class="col-md-6">
             <div class="bill text-center">
                <div class="bill_caption my-1">
                    <h3>Total Price</h3>
                </div> 
                 
                     
                   

                       <table border="1" class="my-1">
                           <thead>
                               <th>S.No</th>
                               <th>Item</th>
                               <th>Qty</th>
                               <th>Price</th>
                               <th>SubTotal</th>
                           </thead>
                             {% for item in cart %}
                             <tbody>
                               <td>{{ forloop.counter }}</td>
                               <td>{{ item.product }}</td>
                               <td><span style="color: red;">{{ item.counter }}</span></td>
                               <td><span style="color: green;">{{ item.product.price }}</span></td>
                               <td>{{ item.pro_sum }}</td>
                             </tbody>  
                             {% endfor %}   
                       </table>
                  <div class="total my-1">
                      <h3>Total Price : ₹ <span style="color: green;">{{ cart_total.pro_total }}</span>/-</h3>
                  </div>   
                
             </div>  
           </div> 
       </div>
   </div>
   {% endblock %}